.vs/ProjectEvaluation/webrong.metadata.v9.bin
.vs/ProjectEvaluation/webrong.projects.v9.bin
.vs/ProjectEvaluation/webrong.strings.v9.bin
.vs/WebRong/config/applicationhost.config
.vs/WebRong/DesignTimeBuild/.dtbcache.v2
.vs/WebRong/FileContentIndex/0c43b83b-a3c4-43d2-b79a-95ec9ae2c402.vsidx
.vs/WebRong/FileContentIndex/4258b740-76b8-4989-aa8c-7b69184754c3.vsidx
.vs/WebRong/FileContentIndex/66451860-e059-4986-91f6-971f9c8cd41e.vsidx
.vs/WebRong/FileContentIndex/70d56d11-dca1-40de-b638-78d05454974b.vsidx
.vs/WebRong/FileContentIndex/8a86bf2b-9196-4ad1-beda-5cb37a811b6f.vsidx
.vs/WebRong/FileContentIndex/97aa2517-74fb-4b15-a306-348369142c54.vsidx
.vs/WebRong/FileContentIndex/e470c4d0-843d-48a1-a1a3-135aa371d3e7.vsidx
.vs/WebRong/FileContentIndex/e481734e-0c21-4cae-87cd-11046f68f839.vsidx
.vs/WebRong/v17/.suo
.vs/WebRong/v17/DocumentLayout.backup.json
.vs/WebRong/v17/DocumentLayout.json
WebRong/bin/Debug/net8.0/WebRong.dll
WebRong/bin/Debug/net8.0/WebRong.exe
WebRong/bin/Debug/net8.0/WebRong.pdb
WebRong/bin/Debug/net8.0/WebRong.staticwebassets.endpoints.json
WebRong/bin/Debug/net8.0/WebRong.staticwebassets.runtime.json
WebRong/obj/Debug/net8.0/apphost.exe
WebRong/obj/Debug/net8.0/ref/WebRong.dll
WebRong/obj/Debug/net8.0/refint/WebRong.dll
WebRong/obj/Debug/net8.0/staticwebassets.build.endpoints.json
WebRong/obj/Debug/net8.0/staticwebassets.build.json
WebRong/obj/Debug/net8.0/staticwebassets.development.json
WebRong/obj/Debug/net8.0/staticwebassets.pack.json
WebRong/obj/Debug/net8.0/staticwebassets/msbuild.WebRong.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
WebRong/obj/Debug/net8.0/staticwebassets/msbuild.WebRong.Microsoft.AspNetCore.StaticWebAssets.props
WebRong/obj/Debug/net8.0/WebRong.AssemblyInfo.cs
WebRong/obj/Debug/net8.0/WebRong.AssemblyInfoInputs.cache
WebRong/obj/Debug/net8.0/WebRong.assets.cache
WebRong/obj/Debug/net8.0/WebRong.csproj.AssemblyReference.cache
WebRong/obj/Debug/net8.0/WebRong.csproj.CoreCompileInputs.cache
WebRong/obj/Debug/net8.0/WebRong.csproj.FileListAbsolute.txt
WebRong/obj/Debug/net8.0/WebRong.dll
WebRong/obj/Debug/net8.0/WebRong.GeneratedMSBuildEditorConfig.editorconfig
WebRong/obj/Debug/net8.0/WebRong.genruntimeconfig.cache
WebRong/obj/Debug/net8.0/WebRong.pdb
WebRong/obj/Debug/net8.0/WebRong.sourcelink.json
WebRong/obj/project.assets.json
WebRong/obj/project.nuget.cache
WebRong/obj/WebRong.csproj.nuget.dgspec.json
WebRong/obj/WebRong.csproj.nuget.g.props
WebRong/WebRong.csproj.user
WebRong/obj/Debug/net8.0/WebRong.AssemblyInfoInputs.cache
