WebRong/bin/Release/net8.0/publish/wwwroot/Content/css/owl.carousel.css
WebRong/bin/Release/net8.0/publish/wwwroot/Content/css/owl.theme.default.css
WebRong/bin/Release/net8.0/publish/wwwroot/Content/images/slider.png
WebRong/bin/Release/net8.0/publish/wwwroot/Content/js/owl.carousel.js
WebRong/obj/Debug/net8.0/WebRong.AssemblyInfo.cs
WebRong/obj/Debug/net8.0/WebRong.AssemblyInfoInputs.cache
WebRong/obj/Debug/net8.0/WebRong.csproj.AssemblyReference.cache
WebRong/obj/Debug/net8.0/WebRong.GeneratedMSBuildEditorConfig.editorconfig
WebRong/obj/Release/net8.0/PublishOutputs.c12dcecdc6.txt
