
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="col-lg-4 col-md-5 offset-md-1">
            <div class="heading_container">
                <h2>
                   Liên hệ với chúng tôi
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5 offset-md-1">
                <div class="form_container">
                    <form action="@Url.Action("SubmitContact", "User")" method="post">
                        <input type="text" name="Ten" placeholder="Tên" required>
                        <input type="text" name="Diachi" placeholder="Địa chỉ" required>
                        <input type="text" name="Sdt" placeholder="Số điện thoại" required>
                        <textarea name="Chude" placeholder="Chủ đề" required></textarea>
                        <textarea name="Noidung" placeholder="Nội dung" required></textarea>
                        <input type="hidden" name="Hoanthanh" value="false">

                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </form>

                
                </div>
            </div>
            <div class="col-lg-7 col-md-6 px-0">
                <div class="map_container">
                    <div class="map">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>